In [4]:
import pandas as pd 
from matplotlib import pyplot as plt
from datasets import load_dataset

In [31]:
dataset = load_dataset('lukebarousse/data_jobs')

Downloading readme:   0%|          | 0.00/28.0 [00:00<?, ?B/s]

Downloading data:   0%|          | 0.00/231M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/785741 [00:00<?, ? examples/s]

In [32]:
print(dataset.keys())

dict_keys(['train'])

In [34]:
df = dataset['train'].to_pandas()

In [35]:
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [40]:
# data accessing
df.iloc[0:5, 5]

0    False
1    False
2    False
3    False
4    False
Name: job_work_from_home, dtype: bool

In [46]:
df.loc[:, 'salary_rate':'salary_hour_avg'].dropna(subset= ['salary_rate'])

       salary_rate  salary_year_avg  salary_hour_avg
28            year         109500.0              NaN
43            hour              NaN             97.5
51            hour              NaN             72.5
77            year         140000.0              NaN
92            year         120000.0              NaN
...            ...              ...              ...
785624        year         139216.0              NaN
785641        year         150000.0              NaN
785648        year         221875.0              NaN
785682        year         157500.0              NaN
785692        year         157500.0              NaN

[33067 rows x 3 columns]